@charset "utf-8";

@import url('./reset.scss');

:root {
    --red: #ea7664;
    --black: #544f4f;
    --brown: #89757a;
    --beige: #f6f5f5;
}

@font-face {
    font-family: 'omyu_pretty';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'omyu_pretty', sans-serif;
}